<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net40" />
  <package id="Fluent.Ribbon" version="6.1.0.233" targetFramework="net40" />
  <package id="Start9.Api" version="1.0.0-CI00103" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0-preview1-26216-02" targetFramework="net40" />
</packages>